{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Enter Prompt to Create a Game{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="prompt">Enter Prompt</label>
    <input name="prompt" id="prompt" required>
    <input type="submit" value="Prompt">
  </form>
  <article class="prompt">
      <header>
        {% if data %}
            <h1>{{ data['prompt'] }}</h1>
            <hr>
            <p class="body">{{ data['answer'] }}</p>
        {% endif %}
      </header>
    </article>
{% endblock %}