{% extends 'base.html' %}

{% block title %}What will you create today?{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <section class="geist mx-auto max-w-7xl h-96 gap-6 pt-40 pr-40 pb-64 pl-40 backdrop-blur-xl shadow-xl bg-white/5 border border-white/30 rounded-xl">
      <header class="mb-6">
        <h1 style="font-weight: 600" class="max-w-5xl h-9 gap-2.5 text-3xl text-white">What will you create today?</h1>
      </header>
      <form method="post" class="space-y-4">
        <div>
          <input name="prompt" id="prompt" placeholder="_" required
                 class="text-white mt-1 p-2 w-full backdrop-blur-xl shadow-xl bg-white/5 border border-white/30 rounded-xl shadow focus:outline-none focus:ring-blue-500 focus:border-blue-500" />
        </div>
        <div class="flex justify-end">
          <input type="submit" value="Generate"
                class="text-white h-12 gap-2.5 rounded-lg px-3 bg-blue-600 hover:bg-blue-700 cursor-pointer" />
        </div>
      </form>
  </section>

  {% if data %}
    <article class="geist mx-auto mt-6 p-4 max-w-7xl h-96 gap-6 rounded-2xl border p-6 px-40 bg-white/5 border-white/30 backdrop-blur-xl shadow-xl">
      <header>
        <h2 class="geist text-xl font-semibold text-white">{{ data['prompt'] }}</h2>
        <hr class="my-2">
        <div class="geist prose max-w-none text-white h-128 overflow-y-auto">
          {{ data['answer'] | safe }}
        </div>
      </header>
    </article>
  {% endif %}
{% endblock %}

{% block script %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.querySelector("form");
      const submitBtn = form.querySelector("input[type='submit']");

      form.addEventListener("submit", function () {
        submitBtn.disabled = true;
        submitBtn.value = "Playtingz is thinking...";
        submitBtn.classList.add("opacity-60", "cursor-not-allowed");
      });
    });
  </script>
{% endblock %}
